div.plugin-bpmnio {
    overflow: hidden;
}

div.plugin-bpmnio .bpmn_js_canvas {
    overflow: auto;
    padding: 1em;
    border-radius: 0.5em;
    background-color: #eee;
}

div.plugin-bpmnio .dmn_js_canvas {
    overflow: auto;
    padding: 1em;
    border-radius: 0.5em;
    background-color: #eee;
}

.plugin-bpmnio svg {
    height: 100%;
    width: 100%;
}

.plugin-bpmnio .dmn-drd-container {
    height: 100%;
}

.plugin-bpmnio .bjs-breadcrumbs {
    display: none;
}

.dmn-decision-table-container tbody tr {
    background-color: var(--view-drd-button-background-color);
}

.dmn-decision-table-container tbody tr:nth-child(2n) {
    background-color: var(--table-row-alternative-background-color);
}
